<div class="d-flex justify-content-between align-items-center">
    <div class="container h5">
        Sent Requests
    </div>
    <div class="container d-flex flex-column align-items-end flex-md-row flex-lg-row justify-content-md-end align-items-md-start gap-3">
        <div><a href="/">Back To Feed</a></div>
        <div><a href="/friend">My friends</a></div>
    </div>
</div>

<div class="container">
    <% requestSentData?.forEach((user)=> { %>
        <div class="container bg-white rounded-3 my-3 p-2 d-flex flex-md-row align-items-center justify-content-between gap-3">
            <div class="rounded-circle bg-custom-primary p-2 d-flex align-items-center justify-content-center">
                <img src="/img/default-user.png" width="20" alt="">
            </div>
            <div class="container d-flex" style="word-break: break-all;"><%= user?.name %></div>
            <div class="container d-flex justify-content-end">
                <button class="btn-sm color-white bg-theme cancel-request-btn btn" userId=<%= `${user._id}` %>>
                    Cancel Request
                </button>
            </div>
        </div>
    <% }); %>
    <% if (requestSentData?.length < 1) { %>
        <div>
            No requests, you are up!
        </div>
    <% } %>
</div>

<div class="d-flex justify-content-between align-items-center mt-5">
    <div class="container h5">
        Pending Requests
    </div>
</div>

<div class="container">
    <% requestReceivedData?.forEach((user)=> { %>
        <div class="container bg-white rounded-3 my-3 p-2 d-flex flex-md-row align-items-center justify-content-between gap-3">
            <div class="rounded-circle bg-custom-primary p-2 d-flex align-items-center justify-content-center">
                <img src="/img/default-user.png" width="20" alt="">
            </div>
            <div class="container d-flex" style="word-break: break-all;"><%= user?.name %></div>
            <div class="container d-flex justify-content-end gap-3">
                <button class="confirm-request-btn btn-sm color-white bg-theme btn" userId=<%= `${user._id}` %> >Confirm</button>
                <button class="reject-request-btn btn-sm color-white bg-theme btn" userId=<%= `${user._id}` %> >Reject</button>
            </div>
        </div>
    <% }); %>
    <% if (requestReceivedData?.length < 1) { %>
        <div>
            No requests, you are up!
        </div>
    <% } %>
</div>

<script>
    const cancelRequestBtn = document.querySelectorAll(".cancel-request-btn");
    const confirmRequestBtn = document.querySelectorAll(".confirm-request-btn");
    const rejectRequestBtn = document.querySelectorAll(".reject-request-btn");
    const alertContainer = document.querySelector('.alert')

    cancelRequestBtn.forEach(btn=> btn.addEventListener('click', e=> {
        const userId = e.target.getAttribute('userId') 
        if(!userId){
            alertContainer.textContent = "User doesn't exists!";
            alertContainer.style.display = 'block'
            setTimeout(()=> {
                alertContainer.style.display = 'none'
            }, 3000)
            return;
        };
        handleCancelRequest(userId)
    }))

    confirmRequestBtn.forEach(btn=> btn.addEventListener('click', e=> {
        const userId = e.target.getAttribute('userId') 
        if(!userId) {
            alertContainer.textContent = "User doesn't exists!";
            alertContainer.style.display = 'block'
            setTimeout(()=> {
                alertContainer.style.display = 'none'
            }, 3000)
            return;
        };
        handleConfirmRequest(userId)
    }))

    rejectRequestBtn.forEach(btn=> btn.addEventListener('click', e=> {
        const userId = e.target.getAttribute('userId') 
        if(!userId) {
            alertContainer.textContent = "User doesn't exists";
            alertContainer.style.display = 'block'
            setTimeout(()=> {
                alertContainer.style.display = 'none'
            }, 3000)
            return;
        }
        handleCancelRequest(userId)
    }))

    async function handleCancelRequest(userId) {
        const response = await fetch(`/friend/request`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({ userId }),
        });
        const result = await response.json();
        if(!result?.success){
            alertContainer.textContent = result.msg;
            alertContainer.style.display = 'block'
            setTimeout(()=> {
                alertContainer.style.display = 'none'
            }, 3000)
            return;
        }
        window.location.reload()
    }

    async function handleConfirmRequest(userId) {
        const response = await fetch(`/friend/request`, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({ userId }),
        });
        const result = await response.json();
        if(!result?.success){
            alertContainer.textContent = result.msg
            alertContainer.style.display = 'block'
            setTimeout(()=> {
                alertContainer.style.display = 'none'
            }, 3000)
            return;
        }
        window.location.reload()
    }
</script>